.header {
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: rgb(2, 191, 254);
}

.headerForm {
    padding: 10px;
    font-size: 20px;
    display: flex;
    gap: 20px;
    flex-direction: row-reverse;
    background-color: wheat;
    border-radius: 10px;
}

.headerInput {
    font-size: 20px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
}

.headerInput:focus {
    border-color: blue;
}

.headerButton {
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerButton:hover {
    background-color: aqua;
}