.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(28, 192, 214);
    padding: 20px;

}

.btn {
    border: 2px solid black;
    font-size: 30px;
    padding: 20px;
    transition: all 0.2s ease;
}

.btn:hover {
    transform: scale(1.1);
}